h1{
    background-color:greenyellow;
    color:darkcyan;
    text-align: center;
}
h2{
    background-color:chartreuse;
    color:darkcyan;
    text-align:center;
}
td{
    color:oldlace;
}
table{
    background-color: forestgreen;
}
body{
    background-image:url(../images/kabe.jpg);
}
ol{
    color:white;
    background-image: url(../images/kabe4.jpg)
}
address{
    color:oldlace;
}