h1#syumi {
    background-color:greenyellow;
    text-align:center;
    color:darkcyan;
}

h1#rinku{
    background-color:aquamarine;
    text-align:center;
    color:cornflowerblue
}

h2#kuruma1{
    background-color:forestgreen;
    text-align:center;
    color:cornsilk;
}

h2#kuruma2{
    background-color:darkkhaki;
    text-align:center;
    color:forestgreen;
}

body{
    background-image:url(../images/ki.jpg);
}