h1{
    background-color:cadetblue;
    color:white;
    text-align: center;
}

h2{
    background-color:chartreuse;
    color:darkcyan;
    text-align:center;
}
h3{
    color:darkolivegreen;
}

body{
    background-image:url(../images/ki.jpg);
}
p{
    color:darkseagreen;
}